.content {
  .text-product-highlights {
    > a:hover {
      h3 {
        text-decoration: underline;
        color: #e60834 !important;
      }
    }
  }
  .text-sub-product {
    > div {
      > h1:hover {
        > a {
          text-decoration: underline;
          color: #e60834 !important;
        }
      }
      > a:hover {
        > img {
          opacity: 0.7;
        }
      }
    }
  }
  .text-product {
    > div {
      > h3:hover {
        > a {
          text-decoration: underline;
          color: #e60834 !important;
        }
      }
    }
  }
  .image-product {
    > div:hover {
      img {
        opacity: 0.7;
      }
    }
  }
}
