.introduce{
    &-header{
        background: url(../images/introduce/bg-header.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-content{
        background-color: #F6F7FB;
        &-left{
            &-top{
                background-color: #ffffff;
                padding: 25px;
                @include breakpoint(custom-sm-device){
                    padding: 10px;
                }
                ul>li{
                    
                    padding: 25px 0;
                    &:not(:last-child){
                        border-bottom: 1px solid #DEDEDE;
                    }
                    &:last-child{
                        padding-bottom: 0;
                    }
                    a{
                    text-transform: uppercase;
                    font-size: 16px;
                    color: #2C405A;
                    font-weight: 600;
                    }
                }
            }
            &-bottom{
                background-color: #ffffff;
                padding: 25px;
                @include breakpoint(custom-sm-device){
                    padding: 10px;
                }
                ul>li{
                    padding: 25px 0;
                    &:not(:last-child){
                        border-bottom: 1px solid #DEDEDE;
                    }
                    p{
                        font-size: 16px;
                        color: #2C405A;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                }
            }
        }
        &-right{
            background-color: #fff;
            padding: 25px;
            @include breakpoint(custom-sm-device){
                    padding: 10px;
                }
            &-item{
                .title{
                    -webkit-line-clamp: 2;
                     -webkit-box-orient: vertical;
                    display: -webkit-box!important;
                    overflow: hidden;
                }
                .description{
                    -webkit-line-clamp: 3;
                     -webkit-box-orient: vertical;
                    display: -webkit-box!important;
                    overflow: hidden;
                }
                &:not(:first-child){
                    padding-top: 25px;
                }
                 
                padding-bottom: 25px;
                border-bottom: 1px solid #DEDEDE;
            
                .time{
                    color: #839CB0;
                    font-size: 14px;
                }
                .btn-see-detail{
                    padding:3px 21px;
                    background-color: #5287ED;
                    border-radius: 40px;
                    border: 0;
                    color: #fff;
                }
            }
            .btn-see-more{
                background-color: #5287ED;
                padding: 10px 40px;
                border: 0;
                border-radius: 40px;
                color: #fff;
            }
        }
    }
} 