.introduce-detail{
    .breadcrumbs{
        background-color: #F6F7FB;
        padding: 20px 0px;
        .text-title{
            font-size: 16px;
            color: #839CB0;
            font-weight: 600;
        }
    }
}