.product_detail--content {
  .icon-brand {
    > div {
      a {
        img {
          max-height: 100px;
        }
      }
    }
  }
  .product-detail {
    @media (min-width: 992px) {
    }
    .about-product {
      .desc-product {
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        > a {
          padding-right: 5px;
          color: #009ef9;
          &:not(:nth-child(3)) {
            border-right: 1px solid #8d8d96;
          }
        }
        ul {
          padding-left: 10px;
          li {
            list-style: disc;
          }
        }
      }
      .price-product {
        padding-top: 30px;
        color: rgb(90, 90, 90);
        font-size: 24px;
        font-weight: 700;
      }
      > div {
        > div {
          > img {
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding-left: 20px;
            padding-right: 20px;
            max-height: 80px;
          }
        }
      }
    }
    .prameter {
      ul {
        li {
          list-style: disc;
        }
      }
    }
  }
}
