//--- All Variables - Related Stuff Included In This Area ---↓

// Font Family
$montserrat-font: "Montserrat", sans-serif;
// Transition
$baseTransition: all 0.3s ease 0s;

// Color
$mac365-primary: #000;
$mac365-secondary: #1d1c1c;
$mac365-blue: #2e90e5;
$white: #ffffff;
$bg-footer: #21212c;

// Border Color
$border-color: #dee2e6;
